@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model Trivago.Models.RequestTrivago
<p>Cherchez</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{



    <div>
        @Html.LabelFor(s => s.ville)
        @Html.TextBoxFor(s => s.ville);

    </div>
    <br />
    <div>
        @Html.LabelFor(s => s.arrive)
        @Html.TextBoxFor(s => s.arrive);

    </div>
    <br />
    <div>
        @Html.LabelFor(s => s.depart)
        @Html.TextBoxFor(s => s.depart);

    </div>
    <br />
    <div>
        @Html.LabelFor(s => s.etoile)
        @Html.TextBoxFor(s => s.etoile);

    </div>
    <br />
    <div>
        @Html.LabelFor(s => s.numPersonne)

        @Html.TextBoxFor(s => s.numPersonne);
    </div>
    <input type="submit" value="Chercher" />
}
